<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/about.css'>
</head>
<body>
   
    <nav>
        <div class="nav-bar">
            <a style="margin-right: 25vw;" href="index.html">Home</a>
            <a  href="about.html">About</a>


        </div>
    </nav>

    <div class="main-content">
        <h2>About Responsive Website</h2>  
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio odit culpa tempora doloribus ex, beatae ipsam obcaecati voluptas rem! Iure
             voluptatem, blanditiis alias iusto et quia minima placeat doloribus pariatur veritatis veniam vero. Fugiat doloremque quam suscipit laborum hic 
             cumque recusandae consequatur exercitationem.Laudantium veritatis dolorem aliquid qui tenetur ullam tempore, dolorum quo voluptates aperiam, quod 
             voluptate blanditiis, aliquam possimus error autem ducimus! Culpa ab aut pariatur minima minus libero deleniti debitis magni sit numquam quae, ex quaerat!
              Doloribus officia ea tempore sit id, quo vel laudantium. Sit explicabo eaque possimus inventore doloremque vel eius amet accusamus, dolorum eveniet 
              tempore quis cum magni voluptate, quas est mollitia enim impedit placeat labore magnam, facilis ipsam adipisci. Odit eaque nisi quia sed. Illo tempora hic placeat repellat corrupti aliquid, numquam doloribus, perspiciatis vero reiciendis aliquam consectetur optio in. Non rerum dignissimos ex repudiandae vel molestias obcaecati quis doloribus id enim. Nemo, debitis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore pariatur consectetur earum fugit qui minus sapiente voluptatibus tempora ipsa dicta, id 
            maiores, deleniti libero debitis eaque eum soluta quasi quaerat perferendis nostrum, atque repellendus eius obcaecati ad. Repellendus architecto nihil 
            repudiandae quo saepe, nemo dolorum et nobis quos enim sed facilis ab soluta iure inventore vero! Fuga aperiam itaque, beatae praesentium quo, ea aut alias,
             consequuntur sit quaerat nulla rem sint necessitatibus iste quidem eligendi eaque eos dicta. Eum a repudiandae at voluptates aut amet autem optio in, quod dolores!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda vero nam repudiandae tempore asperiores animi excepturi, vel quasi? Earum beatae vitae, laborum 
            nesciunt fugiat modi quam fuga asperiores eaque delectus possimus error. Quam repudiandae deleniti ex consequatur incidunt necessitatibus eaque hic voluptates dolor ea, 
            officiis cum optio labore neque blanditiis?</p>
        
        <img src="../images/picture 2.jpg" alt="image">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, quod iusto quidem placeat laborum sint ipsam eaque voluptas? Consectetur, excepturi? Harum expedita, 
            quas pariatur atque nobis exercitationem eaque ipsum quia officia itaque placeat eius illum dignissimos doloribus libero excepturi voluptatum?</p>

    </div>
</body>
</html>